{% extends 'base.html.twig' %}

{% block title %}Edit Project: {{ project.name }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Zdit Project: "{{ project.name }}"</h1>
        {{ include('generic_form/_form.html.twig') }}
        <a class="btn btn-primary mt-3" href="{{ path('list_project') }}">back to list</a>
    </div>
{% endblock %}